<%= form_for @changeset, @action, fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <%= label f, :name %>
  <%= textarea f, :name %>
  <%= error_tag f, :name %>

  <%= label f, :url %>
  <%= textarea f, :url %>
  <%= error_tag f, :url %>

  <div>
    <%= submit "Save" %>
  </div>
<% end %>
