<h1>Listing Profiles</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Url</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for profile <- @profiles do %>
    <tr>
      <td><%= profile.name %></td>
      <td><%= profile.url %></td>

      <td>
        <span><%= link "Show", to: Routes.profile_path(@conn, :show, profile) %></span>
        <span><%= link "Edit", to: Routes.profile_path(@conn, :edit, profile) %></span>
        <span><%= link "Delete", to: Routes.profile_path(@conn, :delete, profile), method: :delete, data: [confirm: "Are you sure?"] %></span>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<span><%= link "New Profile", to: Routes.profile_path(@conn, :new) %></span>
