<h1>Show Profile</h1>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @profile.name %>
  </li>

  <li>
    <strong>Url:</strong>
    <%= @profile.url %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.profile_path(@conn, :edit, @profile) %></span>
<span><%= link "Back", to: Routes.profile_path(@conn, :index) %></span>
